# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Maven (Legacy)
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# IDE - Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# IDE - VS Code
.vscode/
*.code-workspace
.history/

# IDE - NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Keys / Secrets - CRITICAL
secrets.properties
application-secret.yml
*.key
*.pem

# OS Specific
.DS_Store
Thumbs.db

# Logs
*.log
logs/
